name: CI-CD
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Restore
      run: dotnet restore
    
    - name: Build
      run: dotnet build -c Release --no-restore
    
    - name: Publish
      run: dotnet publish Quran.Api/Quran.Api.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -o publish
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Quran.Api
        path: publish/
